In [2]:
import numpy as np
import pandas as pd

In [31]:
url="https://raw.githubusercontent.com/CarlosSanchez03/Fisica-computacional1/main/Actividad1/diario%20durango.txt"
my_cols = ['Fecha', 'Precip', 'Evap', 'TempMax', 'TempMin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

In [32]:
#Imprimo el encabezado y el final del df
print(df_dist.head(10))
print(df_dist.tail(10))

        Fecha Precip Evap TempMax TempMin
0  01/01/1941      0  3.3    19.5     3.5
1  02/01/1941      0  3.8    21.5     2.5
2  03/01/1941      0  5.8    23.5     5.5
3  04/01/1941      0  5.7      19     7.5
4  05/01/1941      0    5    21.5    -4.5
5  06/01/1941      0  4.9    23.5    -2.5
6  07/01/1941      0  8.1    23.5    -3.5
7  08/01/1941      0  5.3    24.5      -1
8  09/01/1941    0.1  3.6    20.5       3
9  10/01/1941    0.2  2.9      19       7
            Fecha Precip Evap TempMax TempMin
15517  22/12/2000      0  4.5      24     0.4
15518  23/12/2000      0  5.1      22       2
15519  24/12/2000      0    4      21     2.5
15520  25/12/2000      0    4      22     3.7
15521  26/12/2000      0  4.2    20.5     5.8
15522  27/12/2000    0.4  3.6    12.5       8
15523  28/12/2000      1  1.9      11       5
15524  29/12/2000      0  1.1      16     0.3
15525  30/12/2000      0  3.5      19    -0.5
15526  31/12/2000      0  4.5      20       0

In [33]:
#Veo las dimensiones de mi df
df_dist.shape

(15527, 5)

In [34]:
#Veo el contenido completo
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15527 entries, 0 to 15526
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Fecha    15527 non-null  object
 1   Precip   15527 non-null  object
 2   Evap     15527 non-null  object
 3   TempMax  15527 non-null  object
 4   TempMin  15527 non-null  object
dtypes: object(5)
memory usage: 606.6+ KB

In [35]:
df_work0 = df_dist.copy()
df_work0.head()

        Fecha Precip Evap TempMax TempMin
0  01/01/1941      0  3.3    19.5     3.5
1  02/01/1941      0  3.8    21.5     2.5
2  03/01/1941      0  5.8    23.5     5.5
3  04/01/1941      0  5.7      19     7.5
4  05/01/1941      0    5    21.5    -4.5

In [36]:
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap TempMax TempMin
0  01/01/1941      0  3.3    19.5     3.5
1  02/01/1941      0  3.8    21.5     2.5
2  03/01/1941      0  5.8    23.5     5.5
3  04/01/1941      0  5.7      19     7.5
4  05/01/1941      0    5    21.5    -4.5

In [37]:
df_work1.info()
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15527 entries, 0 to 15526
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Fecha    15527 non-null  object
 1   Precip   15527 non-null  object
 2   Evap     15527 non-null  object
 3   TempMax  15527 non-null  object
 4   TempMin  15527 non-null  object
dtypes: object(5)
memory usage: 606.6+ KB
        Fecha Precip Evap TempMax TempMin
0  01/01/1941      0  3.3    19.5     3.5
1  02/01/1941      0  3.8    21.5     2.5
2  03/01/1941      0  5.8    23.5     5.5
3  04/01/1941      0  5.7      19     7.5
4  05/01/1941      0    5    21.5    -4.5

In [38]:
cols_list = ['Precip', 'Evap', 'TempMax', 'TempMin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15527 entries, 0 to 15526
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Fecha    15527 non-null  object
 1   Precip   15464 non-null  float64
 2   Evap     13129 non-null  float64
 3   TempMax  15260 non-null  float64
 4   TempMin  15260 non-null  float64
dtypes: float64(4), object(1)
memory usage: 606.6+ KB

In [39]:
df_work1.isnull().sum()

Fecha         0
Precip       63
Evap       2398
TempMax     267
TempMin     267
dtype: int64

In [40]:
print(df_work1.head())
print(df_work1.tail())

        Fecha  Precip  Evap  TempMax  TempMin
0  01/01/1941     0.0   3.3     19.5      3.5
1  02/01/1941     0.0   3.8     21.5      2.5
2  03/01/1941     0.0   5.8     23.5      5.5
3  04/01/1941     0.0   5.7     19.0      7.5
4  05/01/1941     0.0   5.0     21.5     -4.5
            Fecha  Precip  Evap  TempMax  TempMin
15522  27/12/2000     0.4   3.6     12.5      8.0
15523  28/12/2000     1.0   1.9     11.0      5.0
15524  29/12/2000     0.0   1.1     16.0      0.3
15525  30/12/2000     0.0   3.5     19.0     -0.5
15526  31/12/2000     0.0   4.5     20.0      0.0

In [ ]:
df_work1.describe().round(2)

         Precip      Evap   TempMax   TempMin
count  15464.00  13129.00  15260.00  15260.00
mean       1.98      7.36     25.51      8.16
std        8.04      3.28      4.54      5.59
min        0.00      0.10     -4.00    -12.00
25%        0.00      5.00     23.00      4.00
50%        0.00      7.00     26.00      9.00
75%        0.00      9.50     28.50     13.00
max      108.50     18.00     39.50     22.00

In [41]:
#Se define un dataframe para la fecha
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    01/01/1941
1    02/01/1941
2    03/01/1941
3    04/01/1941
4    05/01/1941
Name: Fecha, dtype: object

In [42]:
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  TempMax  TempMin
0  01/01/1941     0.0   3.3     19.5      3.5
1  02/01/1941     0.0   3.8     21.5      2.5
2  03/01/1941     0.0   5.8     23.5      5.5
3  04/01/1941     0.0   5.7     19.0      7.5
4  05/01/1941     0.0   5.0     21.5     -4.5

In [43]:
df_work2.dtypes

Fecha      datetime64[ns]
Precip            float64
Evap              float64
TempMax           float64
TempMin           float64
dtype: object

In [44]:
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  TempMax  TempMin
0 1941-01-01     0.0   3.3     19.5      3.5
1 1941-01-02     0.0   3.8     21.5      2.5
2 1941-01-03     0.0   5.8     23.5      5.5
3 1941-01-04     0.0   5.7     19.0      7.5
4 1941-01-05     0.0   5.0     21.5     -4.5
           Fecha  Precip  Evap  TempMax  TempMin
15522 2000-12-27     0.4   3.6     12.5      8.0
15523 2000-12-28     1.0   1.9     11.0      5.0
15524 2000-12-29     0.0   1.1     16.0      0.3
15525 2000-12-30     0.0   3.5     19.0     -0.5
15526 2000-12-31     0.0   4.5     20.0      0.0

In [45]:
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15527 entries, 0 to 15526
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Fecha    15527 non-null  datetime64[ns]
 1   Precip   15464 non-null  float64
 2   Evap     13129 non-null  float64
 3   TempMax  15260 non-null  float64
 4   TempMin  15260 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 606.6 KB